@import url('satoshi.css');
*:root {
    --deepnoir : #000;
    --noir: #1D1D1F;
    --gris: #75757A;
    --blanc1: #F5F5F7;
    --blanc2: #FAFAFA;
    --orange : #FF9F0A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--deepnoir);
    font-family: 'Satoshi-Medium';
}
body {
    overflow-x: hidden;
}

.titre_container {
    width: 100vw;
    max-width: 1920px;
    background: transparent;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto 250px auto;
    overflow: hidden;
}
.titre_container svg {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%); 
    transition: transform 1.5s ease; 
}
.titre_container svg.active {
    transform: translateX(-50%) translateY(0);
}
.text_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(100%); 
    transition: transform 1.5s ease; 
    background: transparent;
}
.text_container h1 {
    position: relative;
    font-size: 1.7rem;
    font-family: 'Satoshi-Light';
    color: var(--gris);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.text_container.active {
    transform: translateX(-50%) translateY(0);
}
.slogan {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.slogan img {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

/*responsive*/

@media screen and (min-width: 1440px) {
    
}
@media screen and (min-width: 1024px) {
    
}
@media screen and (max-width: 768px) {
    .titre_container {
        padding: 0 8px;
    }
    .text_container h1 {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 480px) {
    .text_container h1 {
        font-size: 1rem;
    }
    .creation_container {
        margin: -100px auto !important;;
    }
}
@media screen and (max-width: 375px) {
    .text_container h1 {
        font-size: 1rem;
    }
}
