@import url('satoshi.css');
*:root {
    --deepnoir : #000;
    --noir: #1D1D1F;
    --gris: #75757A;
    --blanc1: #F5F5F7;
    --blanc2: #FAFAFA;
    --orange : #FF9F0A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--deepnoir);
    font-family: 'Satoshi-Medium';
}
body {
    overflow-x: hidden;
}

.navbar_container {
    width: 100vw;
    max-width: 1920px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    background: transparent;
    z-index: 99;
}
.content_left {
    width: auto;
    display: flex;
    justify-content: space-between;
}
.content_left a {
    position: relative;
    margin-right: 25px;
    text-decoration: none;
    background: transparent;
    color: var(--blanc1);
    font-family: 'Satoshi-Light';
    font-size: 1.5rem;
}
.new {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.new h1 {
    font-size: 0.5rem;
    color: var(--orange);
    font-family: 'Satoshi-Variable';
    position: absolute;
    top: -4px;
    left: 2px;
}
.content_right {
    position: relative;
    text-decoration: none;
    background: transparent;
    color: var(--blanc1);
    font-family: 'Satoshi-Light';
    font-size: 1.5rem;
}