@import url('satoshi.css');
*:root {
    --deepnoir : #000;
    --noir: #1D1D1F;
    --gris: #75757A;
    --blanc1: #F5F5F7;
    --blanc2: #FAFAFA;
    --orange : #FF9F0A;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--deepnoir);
    font-family: 'Satoshi-Medium';
}
body {
    overflow-x: hidden;
}

.comming_soon_container {
    margin: 0 auto;
    height: 50vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comming_soon_container h1 {
    color: var(--blanc1);
    font-size: 5rem;
    font-weight: bold;
}
.comming_soon_container h2 {
    margin-top: 20px;
    color: var(--gris);
    font-size: 2rem;
    font-weight: bold;
}
